/*@import url(https://fonts.googleapis.com/css?family=Fjalla+One);*/
@import url(button_animations.css);

body .container {
  position: relative;
  width: 170px;
  height: 170px;
  margin: auto;
}

body .container #btn {
  display: none;
}
body .container #btn + label:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 130px;
  height: 130px;
  margin: -65px -65px;
  content: '';
  -webkit-transform: translate(-6px, -6px);
  -ms-transform: translate(-6px, -6px);
  transform: translate(-6px, -6px);
  border-radius: 50%;
  border: 6px solid #000;
  cursor: pointer;
}
body .container #btn + label:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px -50px;
  content: '';
  border-radius: 50px;
  background: #e80415;
  cursor: pointer;
}

body .container .time {
  position: absolute;
  width: 100%;
  top: 110%;
  opacity: 0;
}
body .container .time > * {
  display: inline-block;
  width: 50%;
  margin: -2px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3em;
}

body .container .time .h_m:after {
  float: right;
  position: relative;
  content: "00";
}
body .container .time .h_m:before {
  float: right;
  position: relative;
  content: ":00";
}
body .container .time .s_ms:before {
  float: left;
  position: relative;
  content: ":00";
}
body .container .time .s_ms:after {
  float: left;
  position: relative;
  content: ":00";
}
