body {
  text-align: center;
  overflow: hidden;
  background: #97a9c6;
}

ul {
    list-style: none;
    -webkit-padding-start: 0px;
}

#recordings_list audio {
    display: block;
    margin: auto auto 10px auto;
}

#recordings_container {
    text-align: center;
    margin: 50px;
}

.results_text {
    display: none;
}

#results {
    text-align: left;
    margin: auto;
    max-width: 200px;
}

#instructions {
    text-align: center;
    padding: 20px 0 0 0;
}