ul {
    list-style: none;
    -webkit-padding-start: 0px;
}

#recordings_list audio {
    display: block;
    margin: auto auto 10px auto;
}

#recordings_container {
    text-align: center;
}

.recordings_paragraph {
    display: none;
    /*margin: 25px 0;*/
}

#instructions {
    text-align: center;
    padding: 20px 0 0 0;
}